apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-xnvv
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/pmacik-testing/ci10t-776-0096-tenant/ci10t-776-0096-app/devfile-sample-xnvv@sha256:94cd197c2799faafcd4bde1d48573407144b298cbf1ac2063767a8b8c6c02661
        name: my-nodejs
        resources: {}
status: {}
